<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Tasks</title>
    <link rel="stylesheet" href="/static/CSS/your.css">
</head>
<body>

    <div class="app-container">
        <h1 class="task-title">Your Tasks</h1>
        <table class="task-table">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.task }}</td>
                    <td>{{ task.date }}</td>
                    <td>
                        <form action="{% url 'deletetask' task.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn-delete-task">Delete Task</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No tasks available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'home' %}">
            <button class="btn-add-task">Add New Task</button>
        </a>
    </div>

</body>
</html>
